In [2]:
import numpy as np
import pandas as pd

In [4]:
# Rating file
ratings = pd.read_csv('/Users/brendanrosario/Documents/Code:Graphics/Courses/Intellipaat Adv DS:ML/MachineLearning/Datasets/movielens/ratings.csv', usecols=['userId','movieId','rating','timestamp'])

In [6]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [8]:
# Movies file
movies = pd.read_csv('/Users/brendanrosario/Documents/Code:Graphics/Courses/Intellipaat Adv DS:ML/MachineLearning/Datasets/movielens/movies.csv', usecols=['movieId','title','genres'])

movies.head()

In [6]:
# Num of unique users
n_users = ratings.userId.unique().shape[0]
n_users

7120

In [7]:
# Num of unique movies
n_movies = movies.movieId.unique().shape[0]
n_movies

27278

In [8]:
Ratings = ratings.pivot(index='userId',columns='movieId',values='rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# SVD Algorithm

In [10]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

In [11]:
reader = Reader()

In [12]:
data = Dataset.load_from_df(ratings[['userId','movieId','rating']], reader)

In [13]:
svd = SVD()

In [14]:
# Compute the RMSE of SVD algorithm
cross_validate(svd, data, measures=['RMSE','MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.8467  0.8454  0.8449  0.8457  0.0008
MAE (testset)     0.6487  0.6473  0.6472  0.6478  0.0007
Fit time          4.43    4.72    4.65    4.60    0.13
Test time         1.25    1.16    1.27    1.23    0.05

{'test_rmse': array([0.84671476, 0.84544376, 0.84490316]),
 'test_mae': array([0.64869602, 0.64734511, 0.64723669]),
 'fit_time': (4.426044940948486, 4.721158027648926, 4.647734880447388),
 'test_time': (1.2541048526763916, 1.159101963043213, 1.2701890468597412)}

In [15]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [16]:
# movieId that have been rated 4 stars by the user 1
ratings_1 = ratings[(ratings['userId']==1) & (ratings['rating']==4)]
ratings_1 = ratings_1.set_index('movieId')
ratings_1 = ratings_1.join(movies)['title']

In [17]:
ratings_1.head(10)

movieId
151                                 Batman Forever (1995)
223                                      Dream Man (1995)
253                                         Junior (1994)
260                              Ladybird Ladybird (1994)
293                                   Pulp Fiction (1994)
296                                         Priest (1994)
318     Strawberry and Chocolate (Fresa y chocolate) (...
541                                          Harem (1985)
1036                                          Jude (1996)
1079                                       Top Gun (1986)
Name: title, dtype: object

### Training and Testing

In [19]:
 user_1 = movies.copy()
user_1 = user_1.reset_index()

In [20]:
user_1

,index,movieId,title,genres
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,Jumanji (1995),Adventure|Children|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...,...
27273,27273,131254,Kein Bund für's Leben (2007),Comedy
27274,27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,27275,131258,The Pirates (2014),Adventure
27276,27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [21]:
# Training
trainset = data.build_full_trainset()
svd.fit(trainset)

In [22]:
user_1['Estimate_Score'] = user_1['movieId'].apply(lambda x: svd.predict(1,x).est)
    # Predicts the estimated ratings for movies that is not rated by the user
user_1 = user_1.drop(['movieId','genres','index'], axis=1)
user_1 = user_1.sort_values('Estimate_Score', ascending=False)

In [23]:
# Testing
user_1.head(10)  # Top 10 (highest expected rating) movies for the user

                                                   title  Estimate_Score
5853       Lord of the Rings: The Two Towers, The (2002)        4.732682
7041   Lord of the Rings: The Return of the King, The...        4.689204
4897   Lord of the Rings: The Fellowship of the Ring,...        4.654448
6501                                   Umberto D. (1952)        4.629335
6873   Passion of Joan of Arc, The (Passion de Jeanne...        4.588378
8937                     Decalogue, The (Dekalog) (1989)        4.580077
17874                               Avengers, The (2012)        4.545897
11597                                   Seven Up! (1964)        4.503608
17049                       Louis C.K.: Shameless (2007)        4.477107
16897                                   Jane Eyre (2011)        4.472979